# Unused for now
#NET  "PHY_MDC"                   LOC = W18  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L19N_T3_VREF_13
#NET  "PHY_MDIO"                  LOC = T14  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L20P_T3_13

NET  "PHY_RESET_B"               LOC = V18  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L19P_T3_13

NET  "PHY_TX_CLK"                LOC = U22  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L12P_T1_MRCC_13
NET  "PHY_RX_CLK"                LOC = U21  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L13P_T2_MRCC_13
NET  "PHY_TX_CTRL"               LOC = T15  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L20N_T3_13
NET  "PHY_TXD<3>"                  LOC = T17  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L21P_T3_DQS_13
NET  "PHY_TXD<2>"                  LOC = T18  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L21N_T3_DQS_13
NET  "PHY_TXD<1>"                  LOC = U15  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L22P_T3_13
NET  "PHY_TXD<0>"                  LOC = U16  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L22N_T3_13
NET  "PHY_RX_CTRL"               LOC = U14  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L23P_T3_13
NET  "PHY_RXD<3>"                  LOC = V14  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L23N_T3_13
NET  "PHY_RXD<2>"                  LOC = V16  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L24P_T3_13
NET  "PHY_RXD<1>"                  LOC = V17  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L24N_T3_13
NET  "PHY_RXD<0>"                  LOC = U17  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_25_13

NET  "GPIO_LED<0>"                LOC = M26  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L20N_T3_A07_D23_14
NET  "GPIO_LED<1>"                LOC = T24  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L21P_T3_DQS_14
NET  "GPIO_LED<2>"                LOC = T25  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L21N_T3_DQS_A06_D22_14
NET  "GPIO_LED<3>"                LOC = R26  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L22P_T3_A05_D21_14

NET "PHY_RX_CLK" TNM_NET = "PHY_RX_CLK";
TIMESPEC "TS_PHY_RX_CLK" = PERIOD "PHY_RX_CLK" 7.2 ns HIGH 50% INPUT_JITTER 1 ns;

# UG471 page 50
INTERNAL_VREF_BANK13 = 0.90;
