CONFIG VCCAUX = 3.3;

NET "SYSCLK_N" LOC = F15 | IOSTANDARD = "LVDS_33";
NET "SYSCLK_P" LOC = F14 | IOSTANDARD = "LVDS_33";
NET "SYSCLK_P" TNM_NET = "SYSCLK_P";
TIMESPEC "TS_SYSCLK_P" = PERIOD "SYSCLK_P"  8 ns HIGH 50 %;
NET "SYSCLK_N" TNM_NET = "SYSCLK_N";
TIMESPEC "TS_SYSCLK_N" = PERIOD "SYSCLK_N"  8 ns HIGH 50 %;

# SFP mgt clock module constraints
NET "REFCLK_N"      LOC = "B10"| IOSTANDARD = LVDS_33;
NET "REFCLK_P"      LOC = "A10"| IOSTANDARD = LVDS_33;
NET "REFCLK_P" TNM_NET = "REFCLK_P";
TIMESPEC "TS_REFCLK_P" = PERIOD "REFCLK_P"  8.0 ns HIGH 50 %;

#NET "dac_cs1_n_o" LOC = B22 | IOSTANDARD = "LVCMOS33";
#NET "dac_cs2_n_o" LOC = D22 | IOSTANDARD = "LVCMOS33";
#NET "dac_clr_n_o" LOC = F7 | IOSTANDARD = "LVCMOS25";
#NET "dac_din_o" LOC = C4 | IOSTANDARD = "LVCMOS25";
#NET "dac_sclk_o" LOC = A4 | IOSTANDARD = "LVCMOS25";
#NET "dac_din_o" LOC = D21 | IOSTANDARD = "LVCMOS33";
#NET "dac_sclk_o" LOC = C22 | IOSTANDARD = "LVCMOS33";

NET "SFP0_RATE_SELECT" LOC = C1 | IOSTANDARD = "LVCMOS33";
#NET "SFP0_TX_FAULT" LOC = F1 | IOSTANDARD = "LVCMOS33";
NET "SFP0_TX_DISABLE" LOC = F2 | IOSTANDARD = "LVCMOS33";
NET "SFP0_LOS"  LOC = B1 | IOSTANDARD = "LVCMOS33";
NET "SFP0_MOD0" LOC = D2 | IOSTANDARD = "LVCMOS33";
NET "IIC_SCL_SFP" LOC = D1 | IOSTANDARD = "LVCMOS33";
NET "IIC_SDA_SFP" LOC = E1 | IOSTANDARD = "LVCMOS33";

NET "RXP1" LOC= D9;  #MGTRXP1_101
NET "RXN1" LOC= C9;  #MGTRXN1_101
NET "TXP1" LOC= B8;  #MGTTXP1_101
NET "TXN1" LOC= A8;  #MGTTXN1_101
INST s6_gtp_wrap_i_foo LOC=GTPA1_DUAL_X0Y0; # 101

#NET "IIC_SCL_MAIN" LOC = F21 | IOSTANDARD = "LVCMOS33";
#NET "IIC_SDA_MAIN" LOC = E22 | IOSTANDARD = "LVCMOS33";
NET "LED<0>" LOC = A4 | SLEW = SLOW | IOSTANDARD = "LVCMOS33";
NET "LED<1>" LOC = C5 | SLEW = SLOW | IOSTANDARD = "LVCMOS33";
NET "LED<2>" LOC = A17 |SLEW = SLOW | IOSTANDARD = "LVCMOS33";

#NET "uart_rxd_i" LOC= B3 | IOSTANDARD=LVCMOS33;
#NET "uart_txd_o" LOC= A3 | IOSTANDARD=LVCMOS33;

